@model IEnumerable<Fifa.Models.CIUDAD>

@{
    ViewBag.Title = "Index";
}

<h2>CIUDADES</h2>

<p>
    @Html.ActionLink("NUEVO REGISTRO", "Create")
    @Html.ActionLink("REGRESAR PAGINA PRINCIPAL", "Inicio", "Account")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("PAIS")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CIUDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAIS.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_CIUDAD }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_CIUDAD })
        </td>
    </tr>
}

</table>
