@model Fifa.Models.ENTRENADOR

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINAR REGISTRO DE ENTRENADOR</h2>

<h3>SEGURO DE ELIMINAR ESTE REGISTRO?</h3>
<fieldset>
    <legend>ENTRENADOR</legend>

    <div class="display-label">
         @Html.DisplayName("ID")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ENTRENADOR)
    </div>

    <div class="display-label">
         @Html.DisplayName("PAIS")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PAIS.NOMBRE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDAD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDAD)
    </div>

    <div class="display-label">
         @Html.DisplayName("IDENTIDAD")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CEDULA_IDENTIDAD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BIOGRAFIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BIOGRAFIA)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
